

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Lavorazione sull'header */


header{
  background-color: white;
  margin: 0;
}

header .conteiner{
padding: 10px 20px 5px 20px;
}

header span{
  vertical-align:top;
  font-size: 45px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo-a{
width: 50px;
height: auto;
}


/* Lavorazione sul main */

main .conteiner {
margin: 50px 550px;
padding: 20px 0px 20px 0px;
background-color: white;
}

/* i due button superiori */
.taskbutton {
  background-color:cornflowerblue;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 10px;
  border-color: lightgrey;
  margin: 8px 5px 25px 45px;
}

.sectionbutton {
  background-color:transparent;
  color: lightgrey;
  padding: 10px 15px;
  border-radius: 10px;
  border-color: lightgrey;
}

/* Lavorazione sui tre campi: new task, today, upcoming*/
main h2{
  background-color: transparent;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  margin: 15px 5px 0px 45px;
}

main h2::before{
  content: "\25BC";
  margin-right: 5px;
  font-size: 15px;
  transform: scale(1.2, 0.6);
  display: inline-block;
}

/* Lavorazione sull'elenco*/
main ul{
  margin: 10px 5px 35px 25px;
  list-style-type: none;
  font-size: 25px;
}

main li{
  margin: 0px 0px 20px 20px;
}

/* I button check e cross*/
main li .checkbutton{
  background-color: transparent;
  color: green;
  border-color: green;
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

main li .crossbutton {
  background-color: transparent;
  color: red;
  border-color: red;
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

/* Lavorazione sui tag alla fine di ogni riga dell'elenco */
main li span {
  background-color: gray;
  color: white;
  border-radius: 25px;
  padding: 10px 15px;
  margin: 2px;
  font-size: 15px;
}

.tageditoriale{
  background-color: lightskyblue;
}

.taggoals {
  background-color: blueviolet;
}

.tagrecruiting{
  background-color: lightseagreen;
}

.tagmobile{
  background-color: darkorange;
}

.tagwebsite{
  background-color:violet
}

.tagsales{
  background-color: green;
}

/*footer non visualizzabile*/
footer {
  display: none;
}
